@import 'base/reset';
@import 'base/typography';
@import 'base/colors';
@import 'utilities/anim';
@import 'layout/grid';
@import 'modules/form';
@import 'modules/button';
@import 'modules/cards';
@import 'modules/header';
@import 'cleanup';


//index

.main-logo {
	height: auto;
	width:200px;
}

.logo-title {
	font-size: 2rem;
	font-weight: thin;
}

/* Body styles */
.box-wrapper {
	display: flex;
	margin: 0px;
	background-color: $slate-gray;
    width: 100%;
    height: 100%;	
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%; 
    height: 100%;	
    opacity: 0.2;
}

@media (min-aspect-ratio: 16/9) {
  .bg-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .bg-video {
    width: auto;
    height: 100%;
  }
}

.signBox{
	position: relative;
	margin: auto;
	width: 40%;
	height:auto;
	min-width: 300px;
	text-align: center;
	border-radius: 15px;
	padding: 12px 12px 12px 12px;
	color: #ffffff;

	.loginBtn {
		//light-ui
		background-color: $steel-blue;
		
		// dark-ui
		background-color: $tomato;
		
		font-family: 'Regular', sans-serif;
		font-size: 1rem;
		cursor: pointer;
		margin-bottom: 1rem;
		padding: 5px 0px 5px 5px;
		width: 50%;

		&:hover {
			box-shadow: 0px 0px 11px 4px rgba(255,255,255,0.16);
		}
	}

	.loginInput {
		//light-ui
		background-color: $white;
		
		// dark-ui
		background-color: rgba($slate-gray, 0.4);
		border: 2px solid $dark-slate-blue;
		
		color: $white;
		font-family: 'Regular', sans-serif;
		font-size: 1rem;
		margin-bottom: 1rem;
		padding: 5px 0px 5px 5px;

		&:focus {
			background-color: rgba($slate-gray, 0.8);
			border: 2px solid $slate-blue;
		}
	}
}

.inputBtn {
	//light-ui
	background-color: $steel-blue;
	
	// dark-ui
	background-color: $tomato;
	
	font-family: 'Regular', sans-serif;
	font-size: 1rem;
	cursor: pointer;
	margin-bottom: 1rem;
	padding: 5px 0px 5px 5px;
	width: 50%;

	&:hover {
		box-shadow: 0px 0px 11px 4px rgba(255,255,255,0.16);
	}
}

.inputText {
	//light-ui
	background-color: $white;
	
	// dark-ui
	background-color: $slate-gray;
	
	color: $white;
	font-family: 'Regular', sans-serif;
	font-size: 1rem;
	margin-bottom: 1rem;
	padding: 5px 0px 5px 5px;
}

div#header{
	height:7%;
	margin:0 px;
	padding: 0;
	color: #ffffff;
	background-color: #001A4C;
	width: 100%;	
	overflow:hidden;
}





input[type=text]{
	border: none;
    margin-bottom: 10px;
    margin-right: 6px;
    margin-top: 10px;
    outline: 0 none;
    padding: 0px 0px 0px 0px;
    width: 70%;
    border-radius: 2px;
}

input[type=password]{
	border: none;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 70%;
    border-radius: 2px;
}

input[type=date]{
	background:#000F2E;
	border: none;
    color: #E0E0E0;
    height: 25px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 70%;
    border-radius: 2px;
}

p{
text-align: center;
}





input[type=submit]{
    border: 0;
	font-weight: bold;
	border: none;
	border: none;
    color: #E0E0E0;
    line-height:15px;
    margin-bottom: 5px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    border-radius: 2px;
}

.side
{
	width:50%;
	height:100%;
	float:left;
	text-align:left;
}

div#fixedBox{
	float:center;
	height: 75%;
	color: #ffffff;
	overflow: auto;
	white-space: normal; 
	display: block;
	background-color: #000F2E;
	width: 95%;
}

/* unvisited link */
a:link {
	font-weight: bold;
    color: #ffffff;
	text-decoration: none;
}
/* visited link */
a:visited {
    color: #ffffff;
	text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #CACACA;
	text-decoration: none;
}



//text modules
.text {
	&.--regular {
		font-family: 'Regular';
	}
}