// colors
// DARK UI
$slate-gray: #1A1A37;
$slate-blue: #634EC2;
$tomato: #F04664;
$brown: #74274A;
$dark-slate-blue: #614F85;

// LIGHT UI
$steel-blue: #4DA2BD;
$light-steel-blue: #CAE4E7;
$white: #FAFAFA;
$med-steel-blue: #9BC2CB;
$dark-gray: #303438;